<a href="https://colab.research.google.com/github/hyang0129/NGAFIDDATASET/blob/main/NGAFID_DATASET_DASK_EXAMPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTALL PREREQ

In [ ]:
!python -m pip install "dask[dataframe]"

Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.7/dist-packages (2.12.0)
Collecting fsspec>=0.6.0
  Downloading fsspec-2022.3.0-py3-none-any.whl (136 kB)
     |████████████████████████████████| 136 kB 3.7 MB/s
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.21.6)
Requirement already satisfied: toolz>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (0.11.2)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[dataframe]) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[dataframe]) (2022.1)
Collecting locket
  Downloading locket-1.0.0-py2.py3-none-any.whl (4.4 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->dask[dataframe]) (1.15.0)
Installing collected packages: locket, partd, fsspec
Successfully installed fsspec-2022.3.0 locket-1.0.0 partd-1.2.0

In [ ]:
!git clone https://github.com/hyang0129/NGAFIDDATASET.git

!(cd NGAFIDDATASET ; git checkout main; git reset --hard HEAD; git pull)
!(cd NGAFIDDATASET ; pip install -r requirements.txt -q)

Cloning into 'NGAFIDDATASET'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (47/47), done.
remote: Total 60 (delta 21), reused 41 (delta 10), pack-reused 0
Unpacking objects: 100% (60/60), done.
Already on 'main'
Your branch is up to date with 'origin/main'.
HEAD is now at 3c431a3 Created using Colaboratory
Already up to date.
     |████████████████████████████████| 58 kB 2.6 MB/s
     |████████████████████████████████| 64 kB 1.8 MB/s
     |████████████████████████████████| 1.4 MB 42.1 MB/s
     |████████████████████████████████| 462 kB 53.2 MB/s
     |████████████████████████████████| 64 kB 2.4 MB/s
     |████████████████████████████████| 73 kB 1.4 MB/s
     |████████████████████████████████| 68 kB 6.2 MB/s
     |████████████████████████████████| 41 kB 549 kB/s
     |████████████████████████████████| 96 kB 5.4 MB/s
     |████████████████████████████████| 843 kB 41.4 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires click<8.0,>=5.1, but you have click 8.1.3 which is incompatible.

# IMPORT DEPENDENCIES

In [ ]:
%load_ext autoreload

In [ ]:
import sys 
sys.path.append('/content/NGAFIDDATASET')

In [ ]:
%autoreload
from ngafiddataset.dataset.dataset import NGAFID_Dataset_Manager

import pandas as pd 


_ = NGAFID_Dataset_Manager('all_flights')

2022-05-16 17:48:10.421 | INFO     | ngafiddataset.dataset.dataset:__init__:53 - Downloading and extracting Parquet Files to \one_parq.  Please open them using dask dataframes
Downloading...
From: https://drive.google.com/uc?id=1-0pVPhwRQoifT_VuQyGDLXuzYPYySX-Y
To: /content/all_flights.csv.gz
100%|██████████| 4.81G/4.81G [00:25<00:00, 189MB/s]
2022-05-16 17:48:36.558 | INFO     | ngafiddataset.dataset.dataset:download:39 - Extracting File

In [8]:
import dask.dataframe as dd

flight_data_df = dd.read_parquet('all_flights/one_parq')

flight_header_df = pd.read_csv('/content/all_flights/flight_header.csv')

In [9]:
flight_data_df

Dask DataFrame Structure:
                   volt1    volt2     amp1     amp2    FQtyL    FQtyR E1 FFlow  E1 OilT  E1 OilP   E1 RPM  E1 CHT1  E1 CHT2  E1 CHT3  E1 CHT4  E1 EGT1  E1 EGT2  E1 EGT3  E1 EGT4      OAT      IAS     VSpd   NormAc   AltMSL timestep cluster
npartitions=401
0                float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64    int64  object
103                  ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...
...                  ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...
32747                ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...
32820                ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...
Dask Name: read-parquet, 401 tasks

In [10]:
flight_data_df.head(5)

,volt1,volt2,amp1,amp2,FQtyL,FQtyR,E1 FFlow,E1 OilT,E1 OilP,E1 RPM,...,E1 EGT2,E1 EGT3,E1 EGT4,OAT,IAS,VSpd,NormAc,AltMSL,timestep,cluster
Master Index,,,,,,,,,,,,,,,,,,,,,
0,27.8,27.9,15.5,0.1,13.14,15.51,1.68,163.17,56.16,1065.4,...,1031.55,1029.69,967.05,24.5,0.00,-27.66,0.11,832.4,4825,c_28
0,28.0,28.1,0.7,0.0,14.30,17.15,3.74,176.51,64.29,1791.3,...,1368.30,1349.64,1263.04,21.2,87.26,-41.18,-0.02,3298.3,3220,c_28
0,28.1,28.1,0.7,0.0,14.21,17.17,3.74,176.61,64.12,1796.9,...,1375.96,1356.52,1267.64,21.2,87.73,6.61,-0.02,3302.3,3219,c_28
0,28.1,28.1,0.8,0.0,14.18,17.15,3.73,176.70,64.40,1802.2,...,1383.55,1364.17,1271.56,21.2,88.35,22.86,-0.04,3305.2,3218,c_28
0,28.0,28.1,0.8,0.0,14.16,17.09,3.78,176.79,64.43,1811.0,...,1391.82,1372.29,1274.86,21.2,88.97,-41.04,-0.03,3306.2,3217,c_28

In [11]:
flight_header_df.head(5)

,Unnamed: 0,Unnamed: 0.1,Index Within Cluster,flight_date,maintenance_date,before_after,filename,id,date_diff,cluster,maintenance_file,maintenance_file_text,close_date,open_date,Master Index,has_flight_data
0,0,0,0,2015-10-10,2015-10-19,before,/content/c_28_with_ids/c_28/open_2015_10_16_cl...,0,-6,c_28a,/content/c_28_with_ids/c_28/open_2015_10_16_cl...,"{\n\t""workorderNumber"" : ""1148304"",\n\t""openDa...",2015-10-19,2015-10-16,0,0
1,1,1,1,2015-06-04,2015-06-06,before,/content/c_28_with_ids/c_28/open_2015_06_05_cl...,1,-1,c_28a,/content/c_28_with_ids/c_28/open_2015_06_05_cl...,"{\n\t""workorderNumber"" : ""1144691"",\n\t""openDa...",2015-06-06,2015-06-05,1,0
2,2,2,2,2015-08-05,2015-08-07,before,/content/c_28_with_ids/c_28/open_2015_08_07_cl...,2,-2,c_28a,/content/c_28_with_ids/c_28/open_2015_08_07_cl...,"{\n\t""workorderNumber"" : ""1146346"",\n\t""openDa...",2015-08-07,2015-08-07,2,0
3,3,3,3,2016-10-06,2016-10-06,same,/content/c_28_with_ids/c_28/open_2016_10_06_cl...,3,0,c_28a,/content/c_28_with_ids/c_28/open_2016_10_06_cl...,"{\n\t""workorderNumber"" : ""1157862"",\n\t""openDa...",2016-10-06,2016-10-06,3,0
4,4,4,4,2015-08-12,2015-08-13,before,/content/c_28_with_ids/c_28/open_2015_08_12_cl...,4,0,c_28a,/content/c_28_with_ids/c_28/open_2015_08_12_cl...,"{\n\t""workorderNumber"" : ""1146464"",\n\t""openDa...",2015-08-13,2015-08-12,4,0