<a href="https://colab.research.google.com/github/hyang0129/NGAFIDDATASET/blob/main/NGAFID_DATASET_DASK_EXAMPLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# INSTALL PREREQ

In [1]:
!python -m pip install "dask[dataframe]"

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dask[dataframe] in /usr/local/lib/python3.7/dist-packages (2.12.0)
Requirement already satisfied: numpy>=1.13.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.21.6)
Collecting partd>=0.3.10
  Downloading partd-1.2.0-py3-none-any.whl (19 kB)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (1.3.5)
Requirement already satisfied: toolz>=0.7.3 in /usr/local/lib/python3.7/dist-packages (from dask[dataframe]) (0.11.2)
Collecting fsspec>=0.6.0
  Downloading fsspec-2022.5.0-py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 8.2 MB/s
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[dataframe]) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23.0->dask[dataframe]) (2.8.2)
Collecting locket
  Downloading locket-1.0.0-py2.py3-none-any.whl (4.4 kB)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23.0->dask[dataframe]) (1.15.0)
Installing collected packages: locket, partd, fsspec
Successfully installed fsspec-2022.5.0 locket-1.0.0 partd-1.2.0

In [2]:
!git clone https://github.com/hyang0129/NGAFIDDATASET.git

!(cd NGAFIDDATASET ; git checkout main; git reset --hard HEAD; git pull)
!(cd NGAFIDDATASET ; pip install -r requirements.txt -q)

Cloning into 'NGAFIDDATASET'...
remote: Enumerating objects: 111, done.
remote: Counting objects: 100% (111/111), done.
remote: Compressing objects: 100% (90/90), done.
remote: Total 111 (delta 46), reused 64 (delta 18), pack-reused 0
Receiving objects: 100% (111/111), 242.65 KiB | 5.05 MiB/s, done.
Resolving deltas: 100% (46/46), done.
Already on 'main'
Your branch is up to date with 'origin/main'.
HEAD is now at 63bfe48 Update README.md
Already up to date.
     |████████████████████████████████| 58 kB 3.2 MB/s
     |████████████████████████████████| 64 kB 2.5 MB/s
     |████████████████████████████████| 1.4 MB 45.8 MB/s
     |████████████████████████████████| 64 kB 1.4 MB/s
     |████████████████████████████████| 73 kB 445 kB/s
     |████████████████████████████████| 68 kB 5.0 MB/s
     |████████████████████████████████| 41 kB 431 kB/s
     |████████████████████████████████| 843 kB 34.6 MB/s
     |████████████████████████████████| 96 kB 3.1 MB/s
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
flask 1.1.4 requires click<8.0,>=5.1, but you have click 8.1.3 which is incompatible.

# IMPORT DEPENDENCIES

In [3]:
%load_ext autoreload

In [4]:
import sys 
sys.path.append('/content/NGAFIDDATASET')

In [5]:
%autoreload
from ngafiddataset.dataset.dataset import NGAFID_Dataset_Manager

import pandas as pd 


_ = NGAFID_Dataset_Manager('all_flights')

/content/NGAFIDDATASET/ngafiddataset/dataset/dataset.py:6: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm
2022-06-09 14:48:17.795 | INFO     | ngafiddataset.dataset.dataset:__init__:53 - Downloading and extracting Parquet Files to \one_parq.  Please open them using dask dataframes
Downloading...
From: https://drive.google.com/uc?id=1-0pVPhwRQoifT_VuQyGDLXuzYPYySX-Y
To: /content/all_flights.tar.gz
100%|██████████| 4.29G/4.29G [00:30<00:00, 139MB/s]
2022-06-09 14:48:49.589 | INFO     | ngafiddataset.dataset.dataset:download:39 - Extracting File

In [6]:
import dask.dataframe as dd

flight_data_df = dd.read_parquet('all_flights/one_parq')

flight_header_df = pd.read_csv('/content/all_flights/flight_header.csv', index_col = 'Master Index')

In [7]:
flight_data_df

Dask DataFrame Structure:
                   volt1    volt2     amp1     amp2    FQtyL    FQtyR E1 FFlow  E1 OilT  E1 OilP   E1 RPM  E1 CHT1  E1 CHT2  E1 CHT3  E1 CHT4  E1 EGT1  E1 EGT2  E1 EGT3  E1 EGT4      OAT      IAS     VSpd   NormAc   AltMSL timestep cluster
npartitions=401
1                float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64  float64    int64  object
103                  ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...
...                  ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...
32749                ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...
32820                ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...     ...
Dask Name: read-parquet, 401 tasks

In [8]:
flight_data_df.head(5)

,volt1,volt2,amp1,amp2,FQtyL,FQtyR,E1 FFlow,E1 OilT,E1 OilP,E1 RPM,...,E1 EGT2,E1 EGT3,E1 EGT4,OAT,IAS,VSpd,NormAc,AltMSL,timestep,cluster
Master Index,,,,,,,,,,,,,,,,,,,,,
1,28.8,NaN,0.8,NaN,48.89,44.06,13.28,168.55,82.51,2519.7,...,1317.44,1298.97,1322.83,12.8,144.89,29.61,0.01,3010.7,3151,c_28
1,28.8,NaN,0.8,NaN,48.93,44.06,13.31,168.60,82.51,2519.4,...,1316.64,1300.68,1322.15,12.8,144.53,49.78,-0.00,3011.3,3150,c_28
1,28.8,NaN,0.9,NaN,48.96,44.06,13.36,168.65,82.51,2520.3,...,1317.20,1301.05,1323.12,12.8,144.15,58.68,-0.01,3011.8,3149,c_28
1,28.8,NaN,0.7,NaN,48.86,44.06,13.30,168.64,82.51,2519.3,...,1317.73,1302.14,1321.93,12.8,143.79,47.31,-0.00,3012.2,3148,c_28
1,28.8,NaN,0.6,NaN,48.87,44.06,13.30,168.65,82.51,2518.8,...,1318.00,1308.52,1316.99,12.8,143.45,36.05,-0.01,3012.3,3147,c_28

In [9]:
flight_header_df.head(5)

,before_after,date_diff,flight_length,label,hierarchy,number_flights_before
Master Index,,,,,,
1,before,-1,4723.0,intake gasket leak/damage,NaN,0
2,before,-2,4649.0,intake gasket leak/damage,NaN,3
3,same,0,40.0,intake gasket leak/damage,NaN,-1
4,before,0,14.0,intake gasket leak/damage,NaN,0
5,same,0,683.0,intake gasket leak/damage,NaN,-1